body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  background: url('http://dsarena.free.fr/mugenlight/stages/sf2-01-ryu.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p, label {
  color: white;
  font-family: 'Kanit', serif;
  font-weight: 400;
}

.q-counter,
.s-counter {
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
}

.quiz-intro,
#form-questions {
  background-color: rgba(0,0,0, 0.6);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.leftSide, .rightSide {
  width: 50%;
  box-sizing: border-box;
}

.leftSide {
  float: left;
  text-align: right;
}

.rightSide {
  float: right;
  text-align: left;
  display: flex;
}

.sf-logo {
  width: 40%;
}

.quiz-text {
  font-family: 'Kanit', 'Sans-Serif';
  font-weight: 700;
  background: -webkit-linear-gradient(#FDFD00 50%, #dd1d25 65%);
  transform: rotate(-11deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  margin-top: 0%;
  margin-bottom: 0%;
}

.quiz-start {
  clear: both;
}

.start p {
  margin-top: 0%;
}

.start p,
.question-feedback .next p,
.restart p {
  background: -webkit-linear-gradient(#FDFD00 50%, #dd1d25 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 2em;
}

.label-wrap {
  margin: auto;
  text-align: left;
}

label {
  display: block;
  background-color: #d7700c;
  margin: 3px 0px;
}

label:hover {
  background-color: #882000;
  transition: 500ms;
}

.user-counts {
  display: flex;
  justify-content: space-around;
}

.quiz-logo,
.quiz-intro,
.form-head,
.form-submit,
#form-questions,
.quiz-question-choices,
.question-feedback{
  text-align: center;
}

#form-questions video {
  width: 100%;
}

.form-head h2,
.form-submit button,
.question-feedback h2 {
  font-size: 2em;
}

.label-wrap label,
.question-feedback p,
.quiz-start h3,
.q-counter,
.s-counter {
  font-size: 1.5em;
}

.quiz-question {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.question-choice {
  text-align: left;
  margin-left: 10px;
}

button {
  background: -webkit-linear-gradient(#FDFD00 50%, #dd1d25 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer {
  margin-bottom: 10px;
}

.final-feedback {
  font-size: 2em;
}

.column-left,
.column-right {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

.column-left {
  float: left;
}

.answers-summary {
  background-color: #882000;
  margin-right: 15px;
}

.quiz-animation img {
  width: 50%;
}

@media (min-width: 1024px) {
  label {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (width: 320px) {
  .quiz-intro {
    width: 100%;
  }

  .quiz-text {
    font-size: 2.75em;
  }

  .form-head h2,
  .quiz-intro h3 {
    font-size: 1.75em;
  }

  .form-submit button {
    font-size: 2em;
  }
  
  .final-feedback {
    font-size: 1.25em;
  }
}

@media (width: 768px) {
  p {
    font-size: 1.5em;
  }

  .q-counter,
  .s-counter {
    font-size: 1.5em;
  }

  .sf-logo {
    width: 90%;
  }

  .quiz-intro h3,
  .form-head h2  {
     font-size: 1.5em;
  }

  .quiz-text {
    font-size: 5.75em;
  }

  .start p,
  .next p,
  .restart p {
    font-size: 2.5em !important;
  }

  .quiz-question,
  #form-questions {
    width: 100%;
  }

  .form-head h2 {
    font-size: 2em;
  }

  label {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .label-wrap span {
    font-size: 1em;
  }

  .form-submit {
    font-size: 1.5em;
  }

  .question-feedback h2 {
    font-size: 2em;
  }

  .question-feedback p {
    font-size: 1.5em;
  }

  .final-feedback {
    font-size: 1.5em;
  }

  .review {
    font-size: 3em;
  }

  .column-left,
  .column-right {
    width: 50%;
  }

  .column-left p,
  .column-right p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .sf-logo {
    width: 90%;
  }

  .quiz-question,
  #form-questions {
    width: 100%;
  }

  .label-wrap {
    display: block;
  }

  label {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .label-wrap span {
    font-size: 1.25em;
  }

  .quiz-text {
    font-size: 3em;
  }

  .quiz-intro h3,
  .form-head h2,
  .q-counter,
  .s-counter  {
     font-size: 1.5em;
  }

   .question-feedback p {
    font-size: 1.5em;
   }

  .next p,
  .question-feedback h2,
  .form-submit button {
    font-size: 2em;
  }

  .final-feedback,
  .answer-summary {
    font-size: 1.75em;
  }

  .answer-summary p {
    line-height: 15px;
  }

  #form-questions img {
    width: 50%;
  }

  #form-questions video {
    width: 100%;
  }

  .review {
    font-size: 1.5em;
  }

  .column-left,
  .column-right {
    width: 100%;
  }
}

@media (min-width: 769px and max-width: 1024px) {
  
  .quiz-text {
    font-size: 4.5em;
  }  

  .quiz-intro h3,
  .form-head h2,
  .start,
  label,
  button,
  .q-counter,
  .s-counter,
  .question-feedback,
  .final-feedback,
  .answer-summary,
  .restart  {
     font-size: 2em;
  }
}